<h1>Contact Us</h1>

<form class="needs-validation" novalidate>
    <div class="form-group">
        <div class="form-row">
            <div class="col">
                <label for="first-name-input">Last Name *</label>
                <input type="text" class="form-control" id="first-name-input" placeholder="First name" required>

                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please Enter a Name.
                </div>
            </div>
            <div class="col">
                <label for="last-name-input">Last Name *</label>
                <input type="text" class="form-control" id="last-name-input" placeholder="Last name" required>

                <div class="valid-feedback">
                        Looks good!
                </div>
                <div class="invalid-feedback">
                    Please Enter a Name.
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Phone Number</label>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="###">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="###">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="####">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="email-input">Email *</label>
        <input type="text" autocomplete="off" class="form-control inline" id="email-input" placeholder="Email" required>

        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please Enter a Name.
        </div>
    </div>

    <div class="form-group">
        <label for="details-textarea">Details</label>
        <textarea class="form-control" id="details-textarea" rows="3"></textarea>
    </div>

    <div class="form-group">
        <label for="details-select">Services *</label><br>
        <select name="Services" id="details-select">
            <option disabled selected value="">Services</option>
            <option value="Lawn cutting">Lawn cutting</option>
            <option value="Fertilizing + Weed removal">Fertilizing + Weed removal</option>
            <option value="Aeration">Aeration</option>
            <option value="Trimming of small trees, shrubs, and hedges">Trimming of small trees, shrubs, and hedges</option>
        </select>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-dark">Submit</button>
    </div>
    
</form>