@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body
{
    font-family: 'Roboto', sans-serif;
}

/*header styles*/
header img
{
    max-width: 7%;
    max-height: 7%;
    margin: 10px;
}

header #home
{
    color: rgb(142, 219, 147);
}

#menu
{
    float: right;
    margin: 40px;
}

#menu a
{
    margin:10px;
    padding: 10px;
}

#menu a:hover 
{
    color: rgb(142, 219, 147) !important;
    cursor: pointer;
}

#menu #contact
{
    background-color: rgb(176, 69, 69);
    padding-right:20px;
    padding-left:20px;
    color: white;
}

#menu #contact:hover
{
    background-color: rgb(196, 79, 79);
    color: white !important;
}

/*main styles*/
main
{
    padding: 50px;
    max-width: 50%;
    margin: auto;
}

main h1
{
    text-align: left;
    font-style: normal;
    margin-bottom: 30px;
}

/*footer styles*/
footer
{
    position:absolute;
    bottom:0;
    min-width: 100%;
}

#section-1
{
    background-color: #314434;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

#section-1 span
{
    font-size: 20px;
}

#section-1 a
{
    margin-left: 10%;
    font-size: 14px;
    background-color:rgb(36, 45, 36);
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

#section-1 a:hover
{
    background-color:rgb(46, 55, 46);
    cursor: pointer;
}

#section-2
{
    font-size: 15px;
    background-color: #232F25;
    color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

#section-2 span
{
    margin-left: 40px;
    margin-right: 40px;
}