@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body
{
    height: 100%;
}

#container
{
    min-height: 100%;
}

#main
{
    overflow: auto;
    padding-bottom: 200px;
}

#footer
{
    position: relative;
    height: 200px;
    margin-top: -200px;
    clear: both;
    width: 100%;
}

main
{
    overflow: auto;
    padding-bottom: 2.5rem;    
}


header img
{
    width: 8%;
    max-height: 7%;
    margin: 20px;
    margin-left: 30px;
}

header #home
{
    color: rgb(142, 219, 147);
}

#menu
{
    float: right;
    margin: 40px;
    margin-top: 50px;
}

#menu a
{
    margin:10px;
    padding: 10px;
    color: black;
}

#menu a:hover 
{
    text-decoration: none;
    color: rgb(142, 219, 147);
    cursor: pointer;
}

#menu #contact
{
    background-color: rgb(176, 69, 69);
    padding-right:20px;
    padding-left:20px;
    color: white;
}

#menu #contact:hover
{
    background-color: rgb(196, 79, 79);
    color: white;
    text-decoration: none;
}

#menu #current
{
    color: rgb(142, 219, 147);
}

main
{
    padding: 50px;
    max-width: 50%;
    margin: auto;
}

main h1
{
    text-align: left;
    font-style: normal;
    margin-bottom: 30px;
}

#section-1
{
    background-color: #314434;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

#section-1 span
{
    font-size: 20px;
}

#section-1 a
{
    margin-left: 10%;
    font-size: 14px;
    background-color:rgb(36, 45, 36);
    color: white;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

#section-1 a:hover
{
    text-decoration: none;
    background-color:rgb(46, 55, 46);
    cursor: pointer;
}

#section-2
{
    font-size: 15px;
    background-color: #232F25;
    color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

#section-2 span
{
    margin-left: 40px;
    margin-right: 40px;
}

#homepage
{
    margin: auto;
    text-align: center !important;
    width: 50%;
    font-size: 20px;
}

#homepage h1
{
    text-align: center !important;
}